.mainWrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.aside {
  width: 20%;
  background: #1c1e29;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.asideInner .logo {
  padding-bottom: 20px;
}

.asideInner h3 {
  padding: 2px 0px 20px 2px;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  color: #fff;
  margin-top: 5px;
}

.aside .btn {
  width: 80%;
  margin: 2px auto;
  padding: 8px;
}

.leaveBtn {
  background: red;
}

.editorwrap {
  width: 80%;
  background-color: #767eb8;
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}
