header {
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #1c1e29;
}

.langSelect {
  margin: 5px 20px;
  text-align: center;
  padding: 2px;
  height: 30px;
  border-radius: 8px;
  background-color: #1c1e29;
  color: #fff;
  border: 2px solid #fff;
}

.CodeMirror {
  min-height: calc(100vh - 40px);
}
