.App {
  color: #8f8be8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-section {
  width: 400px;
  height: 250px;
  background: #fff;
  border: 2px solid #8f8be8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  padding: 4px;
}

.btn {
  padding: 5px;
  width: 40%;
  border-color: #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #8f8be8;
  margin: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.createInfo {
  margin-top: 5px;
  cursor: pointer;
}

span {
  font-style: italic;
  color: green;
}
